
a{
  text-decoration: none;
}



.registration{
    background: rgb(164, 211, 219);
    height: 100vh;
    padding-top:100px;
}
.imgholder{
    text-align: center;
    margin-bottom: 10px;
}
.imgholder img{
    width: 100px;
}
.main{
  display: flex;
}
.left{
  width: 20%;
}
.right{
  width: 80%;
}
.sidebar{
  background:lightgray;
  height: 100vh;
}

.offcanvas-bottom{
  
  height: 100vh !important;
}